/* You have to center all the text on the page & set the font to Roboto, and give all the sections an overall margin of 10% of the height of the page.  */
html, body {
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
    text-align: center;
}

.container {
    margin: 10vh;
}

/* capitalize all the titles, give the main title a font size of 4em, the main title must have a color of #174885.*/
.title {
    text-transform: uppercase;
    font-size: 4em;
    color: #174885;
}
/* the section titles a size of 3em, The section titles must have a color of #3278cf*/
.section-title {
    text-transform: uppercase;
    font-size: 3em;
    color: #3278cf;
}

/* DON'T TOUCH THIS! */

/* Your main goal is to style and improve the HTML given to you. You have to center all the text on the page & set the font to Roboto, capitalize all the titles, give the main title a font size of 4em and the section titles a size of 3em, and give all the sections an overall margin of 10% of the height of the page. The section titles must have a color of #3278cf, while the main title must have a color of #174885. Good luck! */